/Source/spamfilter/spamfilter.BL.Tests/bin/Debug/net6.0
/Source/spamfilter/spamfilter.console/bin/Debug/net6.0
/Source/spamfilter/spamfilter.BL/bin/Debug/net6.0
/Source/spamfilter/spamfilter.Interfaces/bin/Debug/net6.0

/Source/spamfilter/spamfilter.BL.Tests/obj/Debug/net6.0
/Source/spamfilter/spamfilter.console/obj/Debug/net6.0
/Source/spamfilter/spamfilter.BL/obj/Debug/net6.0
/Source/spamfilter/spamfilter.Interfaces/obj/Debug/net6.0

.idea